.note {
    width: 300px;
    height: 300px;
    float: left;
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
  
    .card-title {
      flex-shrink: 0;
    }
  
    .card-content {
      flex-grow: 1;
      overflow: auto;
    }
  
    .card-buttons {
      display: flex;
      justify-content: space-between;

      .card-buttons-section{
        .form-field{
            width: 150px;
        }
      }
    }
  }
  